{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:vue/recommended",
    "airbnb-base"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "vue"
  ],
  "rules": {
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "space-before-function-paren": ["warn", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "default-case": "off",
    "prefer-template": "warn",
    "arrow-parens": ["warn", "as-needed"],
    "max-len": "off",
    "consistent-return": ["warn", {
      "treatUndefinedAsUnspecified": true
    }],
    "no-param-reassign": ["warn", {
      "props": false
    }],
    "linebreak-style": "off",
    "quote-props": ["warn", "consistent-as-needed"],
    "no-use-before-define": ["warn", {
      "functions": false
    }],
    "no-unused-vars": ["warn", {
      "vars": "local",
      "args": "none"
    }],
    "no-await-in-loop": "off",
    "no-shadow": "off",
    "no-plusplus": "off",
    "no-continue": "warn",
    "no-underscore-dangle": "off",
    "vue/script-indent": ["warn", 2, {
      "baseIndent": 1,
      "switchCase": 1
    }],
    "vue/html-indent": ["warn", 2],
    "vue/max-attributes-per-line": "off",
    "vue/component-name-in-template-casing": ["warn", "PascalCase", {
      "registeredComponentsOnly": false
    }]
  },
  "overrides": [
    {
      "files": [
        "*.vue"
      ],
      "rules": {
        "indent": "off"
      }
    }
  ]
}
